:root {
    --sky: #272455;
    --floor-1: #538931;
    --floor-2: #8a6614;
    --floor-3: #4e3716;
    --floor-4: #2f110e;
}
body,
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    color: white;
}
header h1 {
    transform: skewY(-12deg);
    line-height: 0.9;
    margin: 10vw 0;
    font-weight: 900;
}
header h1 div:first-child {
    font-size: 18vw;
    text-transform: uppercase;
}
header h1 div:nth-child(2) {
    font-size: 12vw;
    text-transform: uppercase;
}
header h1 div:last-child {
    font-size: 7vw;
    line-height: 1;
}
main {
    background-color: var(--sky);
    background-image: linear-gradient(
        var(--sky) 25%,
        var(--floor-1) 25%,
        var(--floor-1) 66%,
        var(--floor-4) 66%
    );
}

header {
    position: absolute;
    z-index: 2;
    padding: 10vw;
}

img#garland-right {
    position: absolute;
    display: block;
    z-index: 3;
    width: 70vw;
    height: 35vw;
    top: -4vw;
    right: -10vw;
}

img#garland-left {
    position: absolute;
    display: block;
    z-index: 1;
    width: 90vw;
    height: 61.48vw;
    top: -10vw;
    left: -5vw;
}

.spacer {
    height: 20vh;
}

img#trees-left {
    position: absolute;
    display: block;
    z-index: 1;
    width: 42vw;
    left: -13vw;
    top: -15vw;
}

img#trees-right {
    position: absolute;
    display: block;
    z-index: 1;
    width: 55vw;
    right: -20vw;
    top: -6vw;
}

img#floor-1 {
    width: 100vw;
    height: 50vw;
    display: block;
    position: relative;
    object-fit: cover;
    object-position: top;
}

div#content {
    display: block;
    position: relative;
    min-height: 100vw;
    background-image: url(floor-2-3-4.svg);
    background-size: cover;
    background-position: center;
}

img#front-tree-left {
    position: absolute;
    display: block;
    z-index: 0;
    width: 56vw;
    left: -8vw;
    top: -36vw;
}

div#inner {
    display: block;
    position: relative;
    z-index: 2;
    padding: 20vw 10vw 10vw;
    padding: 0 10vw 32vw;
    top: -15vw;
}

img#owl {
    width: 25vw;
    position: relative;
    bottom: -11vw;
    left: -6vw;
}

img#owl-feets {
    width: 7vw;
    position: relative;
    bottom: -4vw;
    left: -25vw;
    z-index: 3;
}

article {
    background-color: white;
    padding: 20px;
    color: #1e1e20;
    position: relative;
}

article p:not(:last-child) {
    margin: 0 0 20px;
}

img#boar {
    position: absolute;
    display: block;
    z-index: 2;
    width: 100vw;
    bottom: -14vw;
    right: -10vw;
}

img#bottom {
    position: relative;
    display: block;
    z-index: 3;
    width: 110vw;
    left: -5vw;
}

footer {
    position: relative;
    z-index: 3;
    background-color: white;
    color: #1e1e20;
    padding: 2vw 20vw 4vw;
    text-align: center;
    top: -1px;
}
