:root {
    --sky: #272455;
    --floor-1: #538931;
    --floor-2: #8a6614;
    --floor-3: #4e3716;
    --floor-4: #2f110e;
    --content-color: #1e1e20;
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    color: white;
    overflow-x: hidden;
}

main {
    background-color: var(--sky);
    background-image: linear-gradient(
        var(--sky) 25%,
        var(--floor-1) 25%,
        var(--floor-1) 66%,
        var(--floor-4) 66%
    );
}

header {
    position: absolute;
    z-index: 2;
    padding: 0 10vw;
}
header h1 {
    transform: skewY(-12deg);
    line-height: 0.9;
    margin: var(--header-margin, 20vw) 0;
    font-weight: 900;
}
header h1 div:first-child {
    font-size: 18vw;
    text-transform: uppercase;
}
header h1 div:nth-child(2) {
    font-size: 12vw;
    text-transform: uppercase;
}
header h1 div:last-child {
    font-size: 8vw;
    line-height: 1;
}

.absolute {
    position: absolute;
    display: block;
}
.relative {
    position: relative;
    display: block;
}
.z0 {
    z-index: 0;
}
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}

img#garland-right {
    width: 70vw;
    height: 35vw;
    top: -4vw;
    right: -10vw;
}

img#garland-left {
    width: 90vw;
    height: 61.48vw;
    top: -10vw;
    left: -5vw;
}

.spacer {
    height: 20vh;
}

img#trees-left {
    width: 42vw;
    left: -13vw;
    top: -15vw;
}

img#trees-right {
    width: 55vw;
    right: -20vw;
    top: -6vw;
}

img#floor-1 {
    width: 100vw;
    height: 50vw;
    object-fit: cover;
    object-position: top;
}

div#main-content {
    min-height: 100vw;
    background-image: url(floor-2-3-4.svg);
    background-size: cover;
    background-position: center;
    background-color: var(--floor-1);
}

img#front-tree-left {
    width: 56vw;
    left: -8vw;
    top: -36vw;
}

div#inner {
    padding: 0 var(--inner-padding, 10vw) var(--inner-padding-bottom, 32vw);
    top: -15vw;
}

img#owl {
    width: 25vw;
    position: relative;
    bottom: -11vw;
    left: -6vw;
}

img#owl-feets {
    width: 7vw;
    position: relative;
    bottom: -4vw;
    left: -25vw;
}

article {
    padding: 5vw;
}

article p:not(:last-child) {
    margin: 0 0 20px;
}

img#boar {
    width: var(--boar-width, 100vw);
    bottom: -14vw;
    right: -10vw;
}

img#bottom {
    width: 110vw;
    left: -5vw;
}

footer {
    padding: 2vw 20vw 4vw;
    text-align: center;
    top: -1px;
}

.content {
    background-color: white;
    color: var(--content-color);
    font-size: var(--font-size, 1.15rem);
    line-height: 1.6;
}
.content small {
    font-size: 0.8rem;
}
.content a {
    color: var(--content-color);
}
.content a:hover {
    color: var(--floor-2);
}
.content svg {
    fill: currentColor;
}
.content .btn {
    display: inline-block;
    padding: 0.4em 0.8em;
    margin: 0.4em 0;
    background-color: var(--floor-2);
    color: white;
    text-decoration: none;
}
.content .btn:hover {
    color: white;
    background-color: var(--floor-3);
}
.content ul {
    padding-inline-start: 1.5rem;
}

@media (min-width: 840px) {
    :root {
        --font-size: 1.25rem;
    }
}

@media (min-width: 1000px) {
    :root {
        --font-size: 1.35rem;
        --header-margin: 12vw;
        --inner-padding: 14vw;
    }
}

@media (min-width: 1200px) {
    :root {
        --font-size: 1.4rem;
        --header-margin: 8vw;
        --inner-padding: 20vw;
        --boar-width: 80vw;
        --inner-padding-bottom: 18vw;
    }
}

@media (min-width: 1500px) {
    :root {
        --font-size: 1.5rem;
        --inner-padding: 24vw;
    }
}
